.pane-1 {
  /* background-colo r: blueviolet; */
  padding-top: 50px;
  /* padding-left: 50px; */
  height: 100%;
}

.pane-2 {
  /* background-color: aqua; */
  height: 100%;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(0, 37, 102);
  color: white;
  font-weight: 600;
}

.steds-logo {
  background-image: url("../images/St.-Edwards-University-Logo.jpg");
  width: 200px;
}

.sm-padding {
  padding-right: 40px;
}

.center-div {
  text-align: center;
  padding-top: 50px;
}

.center-div a {
  border-bottom: 1px dotted currentColor;
}

button:hover {
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.option-btn {
  border-radius: 2.5rem;
  border: solid 1px #ccc;
  width: 230px;
  background-color: #eee;
  font-size: 16px;
  height: 60px;
  /* padding: 100px; */
}

.entire-form-div {
  padding-left: 50px;
  padding-top: 20px;
}

.form-div {
  box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.11),
    0 1px 3px 0 rgba(0, 0, 0, 0.08);
  width: 80%;
  height: 500px;
  border-radius: 10px;
}

.bolded {
  font-weight: bold;
}

.padding-left {
  padding-left: 15px;
}

/* .btn-div { */
/* } */

.round-div {
  border-radius: 50%;
  background-color: #d4af37;
  height: 25px;
  width: 25px;
  position: absolute;
}

.my-row {
    padding-top: 40px;
    padding-left: 120px;
}
